.townMessageCard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #39bb37a1; 
}

.townMessageCard__label {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #fff;
  padding-left: 30px;
}

.townMessageCard.townMessageCard--empty {
  background-color: #bb3737a1;
}